﻿
@{
    ViewBag.Title = "SubmitNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js">
</script>
<h2>Create New Submit</h2><hr />

<div>
    <span style="padding-right:25px">Customer Id</span><span>&nbsp;:</span><input type="text"/><span style="padding-left:5em"></span><input type="button" style="width:auto" value="Get Information" /><span style="padding-left:5em">Date : </span>@DateTime.Now<br /><br />
    <span style="padding-right:65px">Name</span><span>&nbsp;:</span><input type="text" style="width:20em"/><br /><br />
    <span style="padding-right:52px">Address</span><span>&nbsp;:</span><textarea style="resize:none;width:20em"></textarea><br /><hr />
</div>
<script>
    $(document).ready(function () {

        var i = 0;
        var container = $(document.createElement('div'));

        $('#addBut').click(function () {

            if (i <= 19) {

                i = i+1;
                $('#remBut').removeAttr('disabled');
                $(container).append('<div id=Head'+i+' style=padding-bottom:20px><select style=padding-right:50px> <option id=produk' + i + ' value=paper>Paper</option>'
                    + '<option id=produk'+i+' value=box>BOX</option><option id=produk'+i+' value=plastic>Plastic</option></select>'
                    + ' '+ '<span style=padding-left:100px></span><input type=text id=weigth'+i+' name=weigth'+i+' />'
                    + ' ' + '<span style=padding-left:100px></span><input type=text id=price' + i + ' name=price' + i + ' /></div>');

                if (i == 1) {

                    var divSubmit = $(document.createElement('div'));
                    $(divSubmit).append('<input type=button ' +
                        'onclick="GetTextValue()"' +
                            'id=btSubmit value=Submit />');

                }
                $('#main').after(container,divSubmit);

            }
            else {
                $(container).append('<span id=limiter style=color:red>Reached the limit!<br/><br/></span>');
                $('#addBut').attr('class', 'bt-disable');
                $('#addBut').attr('disabled', 'disabled');
            }
        });
        $('#remBut').click(function () {
            if (i != 0) {
                $('#Head' + i).remove(); i = i - 1;
            }
            if (i != 20) {

                $('#addBut').removeAttr('disabled');
                $('#limiter').remove();
            }

            if (i == 0) {
                $(container)
                    .empty()
                    .remove();

                $('#btSubmit').remove();
                $('#addBut')
                    .removeAttr('disabled')
                    .attr('class', 'bt');
                $('#remBut').attr('disabled', 'disabled'); 
            }
        });


    });
    var divValue, values = '';

    function GetTextValue() {

        $(divValue)
            .empty()
            .remove();

        values = '';

        $('.input').each(function () {
            divValue = $(document.createElement('div')).css({
                padding: '5px', width: '200px'
            });
            values += this.value + '<br />'
        });

        $(divValue).append('<p><b>Your selected values</b></p>' + values);
        $('body').append(divValue);
    }
</script>
<div>
    <input type="button" id="addBut" value="+" />
    <input type="button" id="remBut" value="-" disabled/><br /><br />
    <label style="padding-right:220px">Product</label>
    <label style="padding-right:235px">Weigth</label>
    <label>Price</label><hr />
    <div id="main">
        
    </div>
    
</div>

