﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
<link href="~/fullcalendar-2.9.1/fullcalendar.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-1.3.2.min.js">
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js">
</script>
<script type="text/javascript" src="~/fullcalendar-2.9.1/fullcalendar.min.js">
</script>
<div style="text-align:center">
    <h2>Dashboard</h2>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            theme: true,
            header: {
                left: '',
                center: '',
                right: ''
            },
            defaultView: 'agendaDay',
            editable: false,
            events: "/Calendar/GetEvents/"
        });
    });
</script>
<div id="calendar">

</div>