﻿@model TheAssurances.Models.registration

@{
    
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration</h2>

<strong><i><span style="color:red;font-size:9px">
    PRIVACY STATEMENT: Your information won't be share to other persons or institution. Information that you submit is confidential.
    Do not share your password or user id to anyone, Admin will not ask your password and user id.<br />
    Please submit real information to avoid a misinterpretation on the future.
</span></i></strong>
<hr />
<div>
    @*<span style="font-size:20px"><strong>biography</strong></span><hr />
    <form method="post">
        <div style="margin-left:5em;padding-bottom:5em">
            <label style="width:10em;margin-bottom:1em">customer id</label><label>:</label><input style="background-color:lightgray" id="customer_id" name="customer_id" value= /><br />
            <label style="width:10em;margin-bottom:1em">nik</label><label>:</label><input /><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
            <label style="width:10em;margin-bottom:1em">name</label><label>:</label><input /><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
            <label style="width:10em;margin-bottom:1em">address</label><label>:</label><textarea cols="25" rows="4"></textarea><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br /><br />
            <label style="width:10em;margin-bottom:1em">cellphone number</label><label>:</label><input type="number" /><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
        </div>
        <span style="font-size:20px"><strong>web account</strong></span><hr />
        <div style="margin-left:5em;padding-bottom:5em">
            <label style="width:10em;margin-bottom:1em">user id</label><label>:</label><input /><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
            <label style="width:10em;margin-bottom:1em">password</label><label>:</label><input type="password" /><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
            <label style="width:10em;margin-bottom:1em">confirmation password</label><label>:</label><input type="password" /><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
            <label style="width:10em;margin-bottom:1em">e-mail</label><label>:</label><input /><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
        </div>
        <span style="font-size:20px"><strong>bank account</strong></span><hr />
        <div style="margin-left:5em">
            <label style="width:10em;margin-bottom:1em">id</label><label>:</label><input /><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
            <label style="width:10em;margin-bottom:1em">account number</label><label>:</label><input type="number"><label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
            <label style="width:10em;margin-bottom:1em">bank</label><label>:</label>
            <select>
                <option value="bri">bri</option>
                <option value="mandiri">mandiri</option>
                <option value="bni">bni</option>
                <option value="bca">bca</option>
            </select>
            <label style="color:red;font-size:6px"><i>&emsp;* information required</i></label><br />
        </div>
    </form>*@
    @using (Html.BeginForm("Registration","Registration",FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.id)
        <hr />
        @Html.TextBoxFor(m => m.nik)
        <hr />
        @Html.TextBoxFor(m => m.name)
        <hr />
        @Html.TextBoxFor(m => m.phone_number)
        <hr />
        @Html.TextBoxFor(m => m.user_id)
        <hr />
        @Html.TextBoxFor(m => m.password)
        <hr />
        @Html.TextBoxFor(m => m.email_id)
        <hr />
        @Html.TextBoxFor(m => m.bank_id)
        <hr />
        @Html.TextBoxFor(m => m.account_id)
        <hr />
        @Html.TextBoxFor(m => m.bank_name)
        <hr />
        <div>
            <button type="submit" >Submit!</button>
        </div>
    }
    
    
</div>
