﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Dropdown.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.1.1.min.js"></script>
</head>
<body>
    <script type="text/javascript">
$(document).ready(function() {
// Create two variable with the names of the months and days in an array
var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
var dayNames= ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

// Create a newDate() object
var newDate = new Date();
// Extract the current date from Date object
newDate.setDate(newDate.getDate());
// Output the day, date, month and year
$('#Date').html(dayNames[newDate.getDay()] + " " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear());

setInterval( function() {
	// Create a newDate() object and extract the seconds of the current time on the visitor's
	var seconds = new Date().getSeconds();
	// Add a leading zero to seconds value
	$("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
	},1000);

setInterval( function() {
	// Create a newDate() object and extract the minutes of the current time on the visitor's
	var minutes = new Date().getMinutes();
	// Add a leading zero to the minutes value
	$("#min").html(( minutes < 10 ? "0" : "" ) + minutes);
    },1000);

setInterval( function() {
	// Create a newDate() object and extract the hours of the current time on the visitor's
	var hours = new Date().getHours();
	// Add a leading zero to the hours value
	$("#hours").html(( hours < 10 ? "0" : "" ) + hours);
    }, 1000);
});
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="mySidenav" class="sidenav">
            <div class="clock">
                <div id="Date"></div>
                <ul>
                    <li id="hours"></li>
                    <li id="point">:</li>
                    <li id="min"></li>
                    <li id="point">:</li>
                    <li id="sec"></li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="@Url.Action("Registration", null , new { area = string.Empty, Controller = "Home" },Request.Url.Scheme)">Registration</a>
            <div class="dropdown">
                <a href="#">Requesting Assistant</a>
                <div class="dropdown-content">
                    <a href="#">New Request</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="@Url.Action("SubmitHome",null,new { area = string.Empty, Controller = "Submit"},Request.Url.Scheme)">Submit</a>
                <div class="dropdown-content">
                    <a href="@Url.Action("SubmitNew",null,new { area = string.Empty, Controller="Submit"},Request.Url.Scheme)">Submit New</a>
                    <a href="@Url.Action("viewSubmit",null,new { area = string.Empty, Controller = "Submit" },Request.Url.Scheme)">Pending Request</a>
                </div>
            </div>
            <br>
            <div class="dropdown">
                <a href="@Url.Action("Project",null,new { area = string.Empty, Controller = "Project"}, Request.Url.Scheme)">Project</a>
                <div class="dropdown-content">
                    <a href="@Url.Action("Index",null,new { area = string.Empty, Controller = "Project" },Request.Url.Scheme)">New Project</a>
                    <a href="#">Update Project</a>
                    <a href="#">Edit Project</a>
                </div>
            </div>
            <a href="#">Contact</a>
            <a href="#">Summary Status</a>
        </div>
        <script type="text/javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
        </script>
        <div class="container">
            <div class="navbar-header">
                <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776; </span>
                &nbsp;
            </div>

            @Html.ActionLink("The Assurances", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="color:white">

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - &copy;All Copyrights Reserved</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>